[submodule "ThirdParty/chbox"]
	path = ThirdParty/debootstrap
	url = https://github.com/dmikushin/chbox.git
	branch = debootstrap
[submodule "ThirdParty/fakechroot"]
	path = ThirdParty/fakechroot
	url = https://github.com/dmikushin/chbox.git
	branch = fakechroot
[submodule "ThirdParty/fakeroot"]
	path = ThirdParty/fakeroot
	url = https://github.com/dmikushin/chbox.git
	branch = fakeroot
